{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'core/shared/nav-bar.html' %}
    <div class="container">
        <div class="card col-7" style="margin-top: 5%; margin-left: 20%">
            <div class="card-body">
                <h2 style="text-align: center">Complete Transaction</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name"
                               value="{{ purchase.buyer_name }}" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" name="quantity" placeholder="00"
                                   value="{{ purchase.quantity }}"  min="1" max="{{ purchase.product_id.quantity }}" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telephone">Phone number</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="telephone"
                                       value="{{ purchase.buyer_phone_number }}" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="location">Address</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="location"
                                       value="{{ purchase.buyer_location }}" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" style="float: right" class="btn btn-warning">CREATE</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}