{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container" style="margin: 2%">
        <div class="col-6 offset-4">
            <p>
               <h3>Update password</h3>
            </p>
            <form method="post" >
              {% csrf_token %}
              <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
              <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" name="password1" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="password2">Last Name</label>
                <input type="password" class="form-control" name="password2" placeholder="Re-enter Password" required>
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}